<div class="container mt-5">
  <div>
    <h2 class="text-center" id="title">Angularfire Authentication</h2>
    <hr />
    <div *ngIf="!authService.user" class="row">
      <div class="col-md-5 my-3">
        <form #registerForm="ngForm" (ngSubmit)="onRegister(); registerForm.reset()">
          <p class="text-uppercase pull-center">SIGN UP</p>
          <div class="form-group">
            <input
              type="text"
              name="name"
              id="name"
              class="form-control input-lg"
              placeholder="Full Name"
              [(ngModel)]="regModel.name"
            />
          </div>

          <div class="form-group">
            <input
              type="email"
              name="email"
              id="email"
              class="form-control input-lg"
              placeholder="Email Address"
              [(ngModel)]="regModel.email"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password"
              id="password"
              class="form-control input-lg"
              placeholder="Password"
              [(ngModel)]="regModel.password"
            />
          </div>
          <div>
            <button class="btn btn-success" type="submit">Register</button>
          </div>
        </form>
      </div>

      <div class="col-md-5 my-3">
        <form #loginForm="ngForm" (ngSubmit)="onLogin(); loginForm.reset()">
          <p class="text-uppercase">Login with account</p>

          <div class="form-group">
            <input
              type="email"
              name="login-email"
              class="form-control input-lg"
              placeholder="Email"
              [(ngModel)]="loginModel.email"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="login-password"
              class="form-control input-lg"
              placeholder="Password"
              [(ngModel)]="loginModel.password"
            />
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
      <div class="col-md-2 my-3">
        <p class="text-uppercase">Login with Google</p>
        <button (click)="onGoogleLogin()" class="btn btn-danger">
          Google
        </button>
      </div>
    </div>
    <div *ngIf="authService.user">
      <h2>Profile</h2>
      <p>Name: {{ authService.user.name }} </p>
      <p>Email: {{ authService.user.email }} </p>
      <button (click)="onLogout()" class="btn btn-dark">
        Logout
      </button>
    </div>
  </div>
</div>
